<!doctype html>
<html lang="kr">
<head>
<script src="../js/jquery-3.6.0.min.js"></script>
<script src="../js/jquery-ui.min.js"></script>
<script src="../js/jquery.js"></script>
<script src="../js/scroll.js"></script>
<link rel="stylesheet" type="text/css" href="../css/style.css">

<meta charset="UTF-8">
<title>더 나은 세상을 꿈꿉니다</title>
</head>
<body>
	<div class="side_bar">
		<ul class="list_none">
			<li class="mgb30 pointer" id="lst1" onclick="lst_clicked(1)"> Intro </li>
			<li class="mgb30 pointer" id="lst2" onclick="lst_clicked(2)"> 2010 </li>
			<li class="mgb30 pointer" id="lst3" onclick="lst_clicked(3)"> 2011 </li>
			<li class="mgb30 pointer" id="lst4" onclick="lst_clicked(4)"> 2012 </li>
			<li class="mgb30 pointer" id="lst5" onclick="lst_clicked(5)"> 2013 </li>
			<li class="mgb30 pointer" id="lst6" onclick="lst_clicked(6)"> 2015 </li>
			<li class="mgb30 pointer" id="lst7" onclick="lst_clicked(7)"> 2017 </li>
			<li class="mgb30 pointer" id="lst8" onclick="lst_clicked(8)"> 2018 </li>
			<li class="mgb30 pointer" id="lst9" onclick="lst_clicked(9)"> 2019 </li>
			<li class="mgb30 pointer" id="lst10" onclick="lst_clicked(10)"> 2020 </li>
			<li class="mgb30 pointer" id="lst11" onclick="lst_clicked(11)"> 2021 </li>
		</ul>
		
		
	</div>
	<div class="bgArea" id="view1">
		<div class="lft">
			<h1>제 꿈은</h1>
			<p>오늘보다 내일이 더 빛나는, 나은 세상을 열어가는 것입니다.</p>
			<p>꿈을 꾸며 걸어온 저의 발자취를 소개합니다.</p>
		</div>
	</div>
	<div class="bgArea" id="view2">
		<div class="lft">
			<div class="sub_title"><h1>2010</h1></div>
			<p>'왜 같은 이름의 운영체제 아래 이리도 제각각일까?'<br><br>
			초기의 안드로이드 스마트 폰은 많은 사람들의 개선의 열망을 담은 다양한 테마와 커스텀롬을 등장시켰습니다.</p>
			<div class="block"></div>
			<h3>안드로이드 테마</h3>
			<p>기본 시스템 테마를 리디자인하여 새로운 테마 제작</p>
			<p class="lbl_stack">갤럭시S, U, K </p>
			<div class="block"></div>
			<h3>안드로이드 테마롬</h3>
			<p>테마와 비약적 성능 향상을 담은 테마롬 개발</p>
			<p class="lbl_stack">갤럭시S의 rfs → ext2, 4 포맷으로 변경하여 비약적인 속도 향상 </p>
		</div>
	</div>
	<div class="bgArea" id="view3">
		<div class="lft">
			<div class="sub_title"><h1>2011</h1></div>			
			<h3>개포고등학교 Application 개발</h3>
			<p>홍보 목적 학교 앱 개발</p>
			<p class="lbl_stack">iOS, Android (AppStore에만 등록)</p>
			<div class="block"></div>
			
			<h3>제1회 스마트 나눔 모바일 앱 공모전</h3>
			<p>개발부문(iOS) 장려상</p>
			<p class="lbl_stack">다문화도우미</p>
		</div>
	</div>
	<div class="bgArea" id="view4">
		<div class="lft">
			<div class="sub_title"><h1>2012</h1></div>
			<h3>iOS 개발 스터디</h3>
			<p>일과 후 프로그래밍을 배우기 위한 스터디</p>
			<p class="lbl_stack"></p>
			<div class="block"></div>
			
			<h3>'고3 채영이의 쉽고 재미있는 앱 만들기' 출판</h3>
			<p>기부 목적의 책 출판</p>
			<p class="lbl_stack"></p>
			<div class="block"></div>
		</div>
	</div>
	<div class="bgArea" id="view5">
		<div class="lft">
			<div class="sub_title"><h1>2013-2014</h1></div>
			<h3>개포고등학교 Application 종료</h3>
			<p>사이트 개편으로 인한 파싱 에러, 개발자 라이센스 만료<br>후배 양성을 위한 일부 소스 공개 </p>
			<p class="lbl_stack"></p>
			<div class="block"></div>
			
		</div>
	</div>
	<div class="bgArea" id="view6">
		<div class="lft">
			<div class="sub_title"><h1>2015-2017</h1></div>
			<p>대한민국 육군 복무<br><br></p>
			<h3>일일 보고 자동화</h3>
			<p>Excel VBA를 통한 완전 자동화<br>Excel에서 자동으로 필요 데이터 수집 후 양식 출력</p>
			<p class="lbl_stack">3시간 → 5분으로 단축</p>
			<div class="block"></div>
			<h3>Excel로 배우는 프로그래밍 기초</h3>
			<p>동아리 창설</p>
			<p class="lbl_stack">Excel</p>
		</div>
	</div>
	<div class="bgArea" id="view7">
		<div class="lft">
			<div class="sub_title"><h1>2017</h1></div>
			<h3>대학 강의 수업조교</h3>
			<p>C언어 프로그래밍, 모바일 프로그래밍</p>
			<p class="lbl_stack"></p>
			<div class="block"></div>
		</div>
	</div>
	<div class="bgArea" id="view8">
		<div class="lft">
			<div class="sub_title"><h1>2018</h1></div>
			<h3>경기 꿈의 대학 실습조교</h3>
			<p>스마트폰 프로그래밍</p>
			<p class="lbl_stack"></p>
			<div class="block"></div>
			<h3>초등심화과정 실습조교</h3>
			<p>스마트폰 프로그래밍</p>
			<p class="lbl_stack"></p>
			<div class="block"></div>
		</div>
	</div>
	<div class="bgArea" id="view9">
		<div class="lft">
			<div class="sub_title"><h1>2019</h1></div>
			<h3>맞춤법검사기</h3>
			<p>누구나 쉽고, 빠르게, 정확하게 사용할 수 있는 맞춤법 검사</p>
			<p class="lbl_stack">Android Application, <a href="https://github.com/wahn34/SafeTime">SafeTime 바로가기</a></p>
			<div class="block"></div>
			<h3>SafeTime</h3>
			<p>사용자 패턴기반 정보 공유 안드로이드 앱</p>
			<p class="lbl_stack">Android Application, <a href="https://github.com/wahn34/SpellCheck">맞춤법검사기 바로가기</a></p>
			<div class="block"></div>
		</div>
	</div>
	<div class="bgArea" id="view10">
		<div class="lft">
			<h3>정보공개시스템 고도화 (1단계)</h3>
			<p>행정안전부 정보공개시스템 고도화</p>
			<p class="lbl_stack">전자정부프레임워크, <a href="https://open.go.kr">정보공개포털</a></p>
			<div class="block"></div>
			
			<h3>HEALTHER</h3>
			<p>대한민국의 새로운 라이프스타일, HEALTHER <br>(2020 SW 스타트업 창업 챌린지)</p>
			<p class="lbl_stack">Android, iOS, Web, <a href="">HEALTHER</a></p>
			<div class="block"></div>
			
			
		</div>
	</div>
	<div class="bgArea" id="view11">
		<div class="lft">
			<h3>HEALTHER 종료</h3>
			<p>새로운 서비스 개발을 위한 기존 HEALTHER의 기능을 파편화<br>ForkUs에서 유지, 일부 기능은 오픈소스화(FHelper)</p>
			<p class="lbl_stack">Android, iOS, Web <a href="">HEALTHER</a>, <a href="https://github.com/wahn34/FHelper">FHelper</a></p>
			<div class="block"></div>
			
			<h3>ForkUs</h3>
			<p>모든 것을 하나로, ForkUs <br></p>
			<p class="lbl_stack">Android, iOS, Web, <a href="">ForkUs</a></p>
			<div class="block"></div>
		</div>
	</div>

</body>
</html>
